*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
build/*
*/build/*
/*/build/
build/
/captures
.externalNativeBuild

.idea
*.iml
/gradle
#/gradle.properties
/gradlew
/gradlew.bat
+build/*
+*/build/*
+/*/build/
+build/
